
<div class="container">
	<div class="col-xs-12">
		<h2>Término y condiciones</h2>
		<br>
		<p>Este curso será utilizado como contexto de investigación en la tesis
             "Validación de la popularidad como criterio de relevancia de documentos en el aprendizaje basado en búsquedas de información"
              del estudiante de Magíster en Informática Felipe Vergara Borge. La realización de esta tesis busca comprender los patrones de comportamiento de los estudiantes
               en un entorno de resolución de tareas . Para ello se utilizarán los registros de actividad almacenados en Tera sólo para investigación, considerando que se dará un tratamiento correcto a la información y siempre con la finalidad de caracterizar el comportamiento de los estudiantes y a su vez mejorar los procesos de aprendizaje. 
            <br><strong>Es importante destacar que toda la información del estudiante será anónima.</strong><br>
            En cualquier caso, se puede contactar con el investigador a cargo de la actividad, Dr. Cristian Olivares-Rodríguez (colivares@inf.uach.cl) o con el Estudiante Felipe Vergara (fvergara@alumnos.uach.cl) tanto para obtener mayor información como para darse de baja de la investigación en cualquier momento y sin ninguna penalización por ello.</p><br>
    
        <h4>Confidencialidad y seguridad</h4>
        <p>•	Los datos registrados serán anonimizados y de caracter público, solo pueden ser utilizado para el uso de estudios</p>
    </div>
    
    <button (click)="volver()"> Volver</button>
</div>
